td { 
	vertical-align: top; 
	text-align: left;
	width: 760px;
	padding-left: 10px;
	padding-right: 10px;
}
th { 
	border-bottom: thin dashed #222222; 
}
div.code { 
	background: #000000;
	color: #FFFFFF;
	font-family: courier;
	margin-bottom: 5px;
}	
span.news {
	font-family: verdana;
}
body {
	background: #AAAAAA;
}
table {
	background: #EEEEEE;
}
h3 {
	margin-bottom: 0px;
}
h2 {
	margin-bottom: 0px;
}
	 
p {
	margin-top: 2px;
	margin-bottom: 4px;
}

